<% if current_user %>
  <strong><%= current_user.email %></strong>
  <br>
  <form action="/session" method="post">
    <input
      type="hidden"
      name="_method"
      value="delete">
    <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

    <%= button_to "Sign-out", session_url, method: :delete %>
  </form>
<% end %>
<br>
This page belongs to <%= @user.email %>.
