<h2>Artists</h2>
<ul>
  <% @bands.each do |band| %>
    <li>
      <strong><%= link_to "#{band.name}", band_url(band) %></strong>
    </li>
  <% end %>
</ul>
<br>
<%= link_to "Add a Band", new_band_url %>
